<p id="notice"><%= notice %></p>

<p>
  <h2>
  <%= @report.title %>
  </h2>
</p>

<p>
  <h4>
  <%= @report.summary %>
  </h4>
</p>

<p>
  <%= @report.body %>
</p>

<p>
  Publicada el
  <%= @report.date %>
</p>

<h3>Comentarios</h3>
<% @report.comments.each do |comment| %>
  <p>
    <strong><%= comment.user %>:</strong>
    <%= comment.content %>

    <%= link_to 'Borrar', [comment.report, comment], method: :delete,
    data: { confirm: 'Borrar el comentario?' } %>
  </p>
<% end %>

<h3>Agregar comentario:</h3>
<%= form_for([@report, @report.comments.build]) do |f| %>
  <p>Usuario<br>
    <%= f.text_field :user %>
  </p>
  <p>Comentario<br>
    <%= f.text_area :content %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Editar', edit_report_path(@report) %> |
<%= link_to 'Volver a noticias', reports_path %>
